@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts';
@import 'navbar';

body {
  font-family: 'Montserrat';
}
.logo-wrapper {
  padding: 0 1.5rem;
}
.shortened-res {
  & h1 {
    font-size: 2rem;
    cursor: pointer;
    text-decoration:underline;
    text-decoration-style: dotted;
    overflow-wrap: anywhere;
    & .copy-icon {
      text-decoration: none;
      animation: 0.2s ease-out 0s 1 normal none running;
    }
    & .check-icon {
      color: green;
      text-decoration: none;
      animation: 0.2s ease-out 0s 1 normal none running;
    }
    &:hover {
      color: #414a4c;
      & .copy-icon {
        transform: translateY(-2px) scale(1.02, 1.02);
        animation: 0.2s ease-out 0s 1 normal none running;
      }
    }
  }
}