@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700,900&display=swap');

html {
  font-family: 'Raleway', sans-serif;
}
body {
  background: #eaeaea;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.ui {
  &.menu {
    height: 8em;
  }
  &.input{
    margin-top: 2em;
  }
}
.shortened-res {
  margin-bottom: 2em;
  padding-left: 0;
  padding-right: 0;
  & h1 {
    font-size: 3rem;
    cursor: pointer;
    text-decoration:underline;
    text-decoration-style: dotted;
    & i.copy-icon {
      text-decoration: none;
      animation: 0.2s ease-out 0s 1 normal none running;
    }
    & i.check-icon {
      color: green;
      text-decoration: none;
      animation: 0.2s ease-out 0s 1 normal none running;
    }
    &:hover {
      color: #414a4c;
      & i.copy-icon {
        transform: translateY(-2px) scale(1.02, 1.02);
        animation: 0.2s ease-out 0s 1 normal none running;
      }
    }
  }
}
.main-input {
  font-size: 26px;
}
.full-width {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .shortened-res {
    & h1 {
      font-size: 2rem;
    }
  }
  .main-input {
    font-size: 18px;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {

}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {

}