@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700,900&display=swap');

html {
  font-family: 'Raleway', sans-serif;
}
body {
  background: #eaeaea;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.ui {
  &.menu {
    height: 8em;
  }
  &.input{
    margin-top: 2em;
  }
  &.grid {
    &.logo {
      margin-bottom: 5em;
      & img {
         width: 50%;
      }
    }
  }
}
.shortened-res {
  margin-bottom: 2em;
  padding-left: 0;
  padding-right: 0;
  & h1 {
    font-size: 2rem;
    cursor: pointer;
    text-decoration:underline;
    text-decoration-style: dotted;
    white-space: nowrap;
    & i.copy-icon {
      text-decoration: none;
      animation: 0.2s ease-out 0s 1 normal none running;
    }
    & i.check-icon {
      color: green;
      text-decoration: none;
      animation: 0.2s ease-out 0s 1 normal none running;
    }
    &:hover {
      color: #414a4c;
      & i.copy-icon {
        transform: translateY(-2px) scale(1.02, 1.02);
        animation: 0.2s ease-out 0s 1 normal none running;
      }
    }
  }
}
.main-input {
  font-size: 18px;
}
.full-width {
  width: 100%;
}

.ui.items>.item>.image+.content {
  &.qr-content {
    display: flex;
    flex-direction: column;
    & .extra {
      margin-top: auto;
    }
  }
}


/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) {
  .shortened-res {
    & h1 {
      font-size: 3rem;
    }
  }
  .main-input {
    font-size: 26px;
  }
  .ui.grid>.row>.column {
    &.qr-grid-column {
      margin-bottom: 2em;
    }
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) {
}

/* Large Monitor */
@media only screen and (min-width: 1200px) {
  .ui {
    &.grid {
      &.logo {
        & img {
           width: 80%;
        }
      }
    }
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
}